html, body {
  height: 100%;
//  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
body {
  padding-top: 50px;
}


/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}

/*
 * Sandstone theme modifications
 */
.navbar-default .navbar-brand {
 font-family: 'Tungsten A','Tungsten B', Arial, sans-serif;
 font-size: 24px;
}
.navbar-default ul.nav > li.active > a {
 font-family: 'Tungsten A','Tungsten B', Arial, sans-serif;
}

.navbar {
 font-family: 'Tungsten A','Tungsten B', Arial, sans-serif;
}

.navbar-right > li > a {
  font-size: 21.328px !important;
}

.navbar-icon {
  margin: 10px 0 10px 10px;
}
.navbar-icon > img {
  max-height: 40px;
}
@media (min-width: 768px) {
  .navbar-icon {
    margin: 10px 10px 10px -5px;
  }
}

.nav {
}

/*
 * Fix for ui-bootstrap modal backdrop
 */
div[uib-modal-backdrop].modal-backdrop {
  height: 100%;
}

/*
 * Sandstone alerts styles
 */
.ss-alerts-box {
  position: fixed;
  top: 65px;
  left: 20vw;
  right: 20vw;
  z-index: 3000;
}

.footer  {
  position: fixed;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 35px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
//  font-family: 'Mercury SSm A','Mercury SSm B', Arial, sans-serif !important;
}

#ack {
  color: #ffffff !important;
  font-size: 18px;
}

#ack a:link,
#ack a:visited,
#ack a:hover {
  color: #ffffff;
  text-decoration: underline;
}

#ack a:hover {
  color: #ffffff;
  text-decoration: none;
}

#welcomemsg
{
    margin-left: 140px;
    left: 0;
    top: 0;
    text-align: center;
    color: #ffffff !important;
    font-size: 20px;
}
